/DIC data/Data/
/DIC data/Results
/EBSD data/Data
/Forming test data/Data/
/Forming test data/Analysis/GOM*
*.ipynb_checkpoints*
/Forming test data/Results/
/Comments on Surfalex folder.txt
/desktop.ini
/Forming test data/Read me.pptx
/DIC data/Analysis/__pycache__
/DIC data/Analysis/.idea
/EBSD data/Results/
