pandas~=1.2.4
matplotlib~=3.4.1
numpy~=1.20.2
tqdm~=4.60.0
ipywidgets~=7.6.3
jupyter~=1.0.0
scipy~=1.6.2
dic-analysis~=0.3.1
plotly~=4.14.3
psutil~=5.8.0 # for plotly image export
kaleido~=0.2.1 # for plotly image export
matflow==0.2.20
formable==0.1.17
statsmodels~=0.12.2
